env/Lib/site-packages/openpyxl/chart/__pycache__/__init__.cpython-38.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.tmp
*.bak
*.swp
*.cache

# Environment directories
env/
.venv/
ENV/
venv/
entorno/

# VSCode settings folder
.vscode/

# MacOS system files
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment variables file
.env

# Python virtual environment variable
.envrc

# pytest cache
.pytest_cache/

# Rope project settings
.ropeproject/